.sidebar-border {
  border-right: 1px solid $grey;
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(-90px);
  opacity: 0;
}

.plus {
  display:inline-block;
  width:50px;
  height:44px;
  
  background:
    linear-gradient(#fff,#fff),
    linear-gradient(#fff,#fff),
    $grey;
  background-position:center;
  background-size: 90% 3px,3px 90%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
}
