$primary: #1E507E;
$orange: #FFB016;
$grey: #E4E4E4;
$beige: #FFE5B4;

$ptSerif: PT Serif;

// button
$button-background-color: $orange;
$button-color: $primary;

// navbar
$navbar-background-color: $primary;
$navbar-item-color: $white;

// title
$title-color: $primary;

// link
$link: $primary;

//sidebar
$sidebar-width: auto;

