$primary: #1E507E;
$orange: #FFB016;
$grey: #E4E4E4;

// button
$button-background-color: $orange;
$button-color: $primary;

// navbar
$navbar-background-color: $primary;
$navbar-item-color: $white;

// title
$title-color: $primary;

